@media(max-width : 1230px) {
	
	.intro{
		&__tittle{
			font-size: 120px;
		}
		&__suptittle{
			font-size: 50px;
		}
	
	}
	.reviews{
		font-size: 20px;
		
	}
	
}


@media(max-width : 990px) {
	
	.intro{
		&__tittle{
			font-size: 80px;
		}
		&__suptittle{
			font-size: 35px;
		}
	}

	
	.nav{
		font-size: 12px;
	}
	.header{
		&__logo{
			font-size: 25px;
		}
	}
	.statistics{
		padding: 60px 0;
		&__stat{
			justify-content: center;
		}
		&__item{
			flex: none;
			width: 33.33333%;
			border: 0;
			&:last-child{
				border: 0;
			}
		}
		&__count{
			font-size: 65px;
		}
	}
	.services{
		
		&__item{
			width: 50%;
			&-border{
				border: 0;
			}
			margin-top: 20px;

		}
		padding-top: 20px;
	}
	.reviews{
		padding: 0 60px;
		&__text{
			font-size: 20px;
		}
		&__item{
			padding-left: 175px;
		}
		&__photo{
			height: 150px;
			width: 150px;
			padding: 0;
			
			&-no{
				height: 150px;
				width: 150px;
			}
		
		}
	}
	.clients{
		max-width: 600px;
		align-items: center;
		margin: 0 auto;
		&__item{
			width: 100%;
			padding: 0 0 0 175px;
			

		}
	}
	.footer{
		&__inner{
			flex-wrap: wrap;
		}
		&__col{
			width: 100%;
			&-2{
				margin-top: 20px;
				width: 50%;
				
			}
			&-3{
				margin-top: 20px;
				width: 50%;
			}
		}
		&__title{
			text-align: center;
		}
	}
}


@media(max-width : 770px) {
	.card{
		padding-top: 15px;
		display: flex;
		flex-direction: column;
		margin: 0;
		&__decr{
			font-size: 12px;
		}
		&__item{
			width: 100%;
			justify-content: center;
			max-width: 380px;
			margin-top: 20px;
			&:first-child{
				margin-top: 0;
			}
		}
		
	
	.nav{
		display: none;
	}
	.slider{
		&__text{
			display: none;
		}
	}
	.intro {
		&__tittle{
			font-size: 40px;
		}
	}
	
	}
	
	.header{
		&__logo{
			font-size: 20px;
		}
	}

	.section{
		padding: 40px 0;
	}

	.statistics{
		padding: 0;
		&__stat{
			align-items: center;
			
		}
		&__item{
			border: 0;
			flex: none;
			width: 33.333333%;
			
		}
	}	

	.services{
		padding-top: 10px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&__item{
			&-border{
				border: 0;
			}
			width: 100%;
			font-size: 12px;
			margin-top: 15px;
		}
	}
	.do{
		align-items: center;
		flex-wrap: wrap;
		&__item{
			width: 100%;
		}
		&__photo{
			display: none;
		}
	}
	.devices{
		&__iphone{
			width: 100%;
			max-width: 250px;
		}
	}
	
	
	.reviews{
		padding: 0;
		&__grey{
			padding: 30px 40px;
		}
		&__photo-no{
			position: static;
			display: block;
			transform: translateY(0);
		}
		&__item{
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-left: 0;
		}
		&__text{
			font-size: 16px;
			margin-top: 15px;
		}
		&__author{
			font-size: 20px;
		}
		&__btn-next{
			right: 20px;
		}
		&__btn-prew{
			left: 15px;
		}
	}
	.work{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		&__col{
			width: 50%;
			flex: none;
		}
		
	}
	.stories{
		flex-wrap: wrap;
		&__item{
			width: 100%;
			padding: 0;
			margin-bottom: 20px;
		}
	}
	.footer{
		&__inner{
			flex-wrap: wrap;
		}
		&__col{
			width: 100%;
			&-2{
				margin-top: 20px;
				width: 100%;
				
			}
			&-3{
				margin-top: 20px;
				width: 100%;
			}
		}
		&__title{
			text-align: center;
		}
	}
	.rectangle{
		padding: 0;
		&__item{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			
		}
		&__icon{
			width: 30%;
		}
	}
	
}
@media(max-width : 575px) {
	
	.intro{
		&__tittle{
			font-size: 30px;
			
		}
		&__suptittle{
			font-size: 20px;
		}
	
	}
	
	.header{
		&__logo{
			font-size: 18px;
		}
	}
	.tittle{
		font-size: 24px;
		&:after{
			margin: 20px auto;
		}
	}
	.suptittle{
		font-size: 20px;
	}
	.card{
		&__item{
			width: 100%;
			justify-content: center;
			max-width: 320px;
		}
		margin-top: 0px;
		&__decr{
			font-size: 13px;
		}
		&__img{
			max-width: 320px;
		}	
	}
	.statistics{
		padding: 0;
		&__stat{
			align-items: center;
		}
		&__item{
			flex: none;
			width: 100%;
			border-bottom: 1px solid #b5eae0;
			&:last-child{
				border-bottom: 0;
			}
		}
	}	
	.services{
		padding-top: 5px;
		&__item{
			width: 70%;
			margin-top: 10px;
			font-size: 12px;
		}

		
	}
	.reviews{
		padding: 0;
		&__grey{
			padding: 0;
		}
		
		&__text{
			font-size: 16px;
		}
		&__btn{
			top: 20%;
		}
	}
	.slider{
		&__text{
			display: none;
		}
	}
	.nav{
		display: none;
	}
	.do{
		width: 100%;
		&__item{
			width: 100%;
		}
		&__photo{
			display: none;
		}
	}
	.devices{
		&__iphone{
			width: 100%;
			max-width: 200px;
			
		}
	}
	.rectangle{
		padding: 0;
		&__item{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			
		}
		&__icon{
			width: 40%;
			margin: 0 5px 5px 0 ;
			align-items: center;
		}
	}
	.work{
		&__col{
			width: 100%;
			display:flex;
			flex-wrap: wrap;
		}
	}
	.clients{
		&__item{
			padding: 0;
		}
		&__img{
			position: static;
			display: block;
			margin: 0 auto;
		}
		&__name{
			text-align: center;
		}
		&__prof{
			text-align: center;
			&::after{
				margin: 10px auto;
			}
		}
	}
	.subscribe{
		width: 100%;
		&__input{
			
			max-width: 250px;
			width: 100%;
		}
		&__btn{
			margin-top: 10px;
			max-width: 300px;
			width: 100%;
		}
	}
}
