body {
	font-family: 'Kaushan Script', cursive;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: #333;


};
hr{
	border: 0;
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
	margin: 50px 0 0 0;
}

*
	:after,
	:before {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.suptittle{
	color: #333333;
	font-family: "Kaushan Script";
	font-size: 24px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;
}
.tittle{
	color: #333333;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	&::after{
		content: "";
		display: block;
		width: 60px;
		height: 3px;
		background-color: #f38181;
		margin: 40px auto 47px;
	}
}
.btn{
	display: inline-block;
	vertical-align: top;
	padding: 15px 32px;
	text-decoration: none;
	border: 3px solid #ffffff;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	&:hover{
		background-color: #fff;
		color: #333;
		transition: background .1s linear, color .1s linear ;
	}
}

.intro {
	width: 100%;
	background: url('../img/bg/bg1.png') center (center / cover) no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 229px 0 0 0;
	&__suptittle{
		color: #ffffff;
		font-family: "Kaushan Script";
		font-size: 72px;
		font-weight: 400;
		margin-bottom: 42px;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
	}
	&__inner{
		width: 100%;
		max-width: 802px;
		margin: 0 auto;
		text-align: center;
	}
	&__tittle{
		color: #ffffff;
		font-family: Montserrat;
		font-size: 150px;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: 1;
		text-transform: uppercase;
		&:after{
			content: "";
			display: block;
			width: 60px;
			height: 3px;
			background-color: #ffffff;
			margin: 71px auto 50px ;
		}
	}
	
}
.slider {
	margin-top: 100px;
	
	display: flex;
	justify-content: space-between;
	&__item{
		width: 24%;
		padding: 20px 0;
		opacity: 0.7;
		color: #ffffff;
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: left;
		text-transform: uppercase;
		border-top: 3px solid #fff;
		position: relative;
		&.active{
			opacity: 1;
			&:before{
				content: "";
				display: block;
				width: 70px;
				height: 3px;
				position: absolute;
				top: -3px;
				left: 0;
				z-index: 1;
				background-color: #f38181;
			}
		}
	}
	&__bold{
		font-family: "Montserrat - Bold";
		font-size: 24px;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
	}
}
.header{
	padding-top: 30px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	&__logo{
		/* Style for "MoGo" */
	color: #ffffff;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	text-transform: uppercase;
	}
	&__inner{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.nav {
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	flex-direction: row;
	&__link{
		display: inline-block;
		vertical-align: top;
		margin: 0 10px;
		color: #ffffff;
		text-decoration: none;
		transition: color 0.2s linear;
		position: relative;
		&.active{
			color: #fce38a;
			&::after{
				opacity: 1;
			}
		}
		&:hover{
			color: #fce38a;
		}
		&::after{
			content: '';
			display: block;
			width: 100%;
			height: 3px;
			position: absolute;
			background-color: #fce38a;
			opacity: 0;
			top: 100%;
			left: 0;
			z-index: 1;
			transition: opasity .2s linear;
		}
		&:hover:after{
			opacity: 1;
		}
	}
	
}
.section {
	padding: 90px 0 110px 0;
	&__header{
		width: 100%;
		margin:0 auto 40px;
	}
	&__text{
		color: #999999;
		font-family: Roboto;
		font-size: 15px;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: 24px;
		text-align: center;
	}
	
}
.pictures{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-top: 100px;
	

	&__item{
		background-color:  #95e1d3;
		position: relative;
		&:hover .pictures__img img{
			opacity: .1;
		}
		&:hover .pictures__img{
			transform: translate3d(-10px, -10px, 0)

		}
		&:hover .pictures__decr {
			opacity: 1;
		}
		
		
	}
	&__img{
		background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
		transition: transform .2s linear;
		
		& img{
			transition: opacity .1s linear;
			display: block;
		}
		
		
	}
	&__decr{
		width: 100%;
		color: #ffffff;
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: center;
		text-transform: uppercase;
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 2;
		transform: translate3d(0, -50%, 0);
		opacity: 0;
		transition: opacity .2s linear;
	
	}
}
.statistics{
	padding: 90px 0;
	background-color: #95e1d3;
	&__stat{
		display: flex;

	}
	&__item{
		flex: 1 1 0;
		border-left: 1px solid #fff ;
		text-align: center;
		&:last-child{
			border-right: 1px solid #fff ;
		}
	}
	&__count{
		color: #ffffff;
		font-family: Montserrat;
		font-size: 72px;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		
		text-transform: uppercase;
	}
	&__text{
		color: #ffffff;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: center;
		text-transform: uppercase;
	}
}

.services{
	display:flex;
	padding: 50px 0 0 0;
	&__item{
		flex: 1 1 0;
		position: relative;
		padding-left: 68px;
		padding-right: 25px;
		&::before{
			content: "";
			width: 1200px;
			height: 1px;
			background-color: #e5e5e5;
		}
	}
	&__icon{
		position: absolute;
		top: 0;
		left: 20px;
		z-index: 1;
		
	}
	&__tittle{
		color: #333333;
		margin-bottom: 20px;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 600;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: left;
		text-transform: uppercase;
	}
	&__text{
		color: #999999;
		font-family: Montserrat;
		font-size: 15px;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: 24px;
		text-align: left;
	}
}
.devices{
	width: 100%;
	padding: 109px 0 0 0;
	background: url('../img/bg/bg2.png') center (center / cover) no-repeat;
	&__item{
		width: 100%;
		max-width: 600px;
		margin : 0 auto;
		position: relative;

	}
	&__ipad{
		display: block;

	}
	&__iphone{
		position: absolute;
		bottom: -101px;
		right: 0;
		z-index: 1;

	}

}

.do{
	padding: 92px 0 120px 0;
}