body {
	margin: 0;
	font-family: 'Kaushan Script', cursive;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: #333;


};
hr{
	border: 0;
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
	margin: 50px 0 0 0;
}

*
	:after,
	:before {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}
.page{
	overflow: hidden;
}
.container {
	width: 100%;
	
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}
.suptittle{
	color: #333333;
	font-family: "Kaushan Script";
	font-size: 24px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;
}
.tittle{
	color: #333333;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	&::after{
		content: "";
		display: block;
		width: 60px;
		height: 3px;
		background-color: #f38181;
		margin: 40px auto 47px;
	}
}
.btn{
	display: inline-block;
	vertical-align: top;
	padding: 15px 32px;
	text-decoration: none;
	border: 3px solid #ffffff;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	&:hover{
		background-color: #fff;
		color: #333;
		transition: background .1s linear, color .1s linear ;
	}
}

.intro {
	width: 100%;
	background: url('../img/bg/bg1.png') center (center / cover) no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 229px 0 0 0;
	&__suptittle{
		color: #ffffff;
		font-family: "Kaushan Script";
		font-size: 72px;
		font-weight: 400;
		margin-bottom: 42px;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
	}
	&__inner{
		width: 100%;
		max-width: 802px;
		margin: 0 auto;
		text-align: center;
	}
	&__tittle{
		color: #ffffff;
		font-family: Montserrat;
		font-size: 150px;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: 1;
		text-transform: uppercase;
		&:after{
			content: "";
			display: block;
			width: 60px;
			height: 3px;
			background-color: #ffffff;
			margin: 71px auto 50px ;
		}
	}
	
}
.slider {
	margin-top: 100px;
	
	display: flex;
	justify-content: space-between;
	&__item{
		width: 24%;
		padding: 20px 0;
		opacity: 0.7;
		color: #ffffff;
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: left;
		text-transform: uppercase;
		border-top: 3px solid #fff;
		position: relative;
		&.active{
			opacity: 1;
			&:before{
				content: "";
				display: block;
				width: 50%;
				height: 3px;
				position: absolute;
				top: -3px;
				left: 0;
				z-index: 1;
				background-color: #f38181;
			}
		}
	}
	&__bold{
		font-family: "Montserrat - Bold";
		font-size: 24px;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
	}
}
.header{
	padding-top: 30px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	&__logo{
		/* Style for "MoGo" */
	width: 45%;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	text-transform: uppercase;
	}
	&__inner{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.nav {
	width: 55%;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	&__link{
		display: inline-block;
		vertical-align: top;
		color: #ffffff;
		text-decoration: none;
		transition: color 0.2s linear;
		position: relative;
		
		
		&.active{
			color: #fce38a;
			&::after{
				opacity: 1;
			}
		}
		&:hover{
			color: #fce38a;
		}
		&::after{
			content: '';
			display: block;
			width: 100%;
			height: 3px;
			position: absolute;
			background-color: #fce38a;
			opacity: 0;
			top: 100%;
			left: 0;
			z-index: 1;
			transition: opasity .2s linear;
		}
		&:hover:after{
			opacity: 1;
		}
	}
	
}
.section {
	padding: 90px 0 110px 0;
	overflow: hidden;

	&-clients{
		background: url('../img/bg/happy.png') center (center / cover) no-repeat;
	}
	&-map{
		background: url('../img/bg/map.png') center (center / cover) no-repeat;
	}
	&__header{
		width: 100%;
		margin:0 auto 40px;
	}
	&__text{
		color: #999999;
		font-size: 15px;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: 24px;
		text-align: center;
	}
	
}

.statistics{
	padding: 90px 0;
	
	&__stat{
		display: flex;
		flex-wrap: wrap;
		background-color: #95e1d3;

	}
	&__item{
		flex: 1 1 0;
		display: block;
		border-left: 1px solid #fff ;
		text-align: center;
		&:last-child{
			border-right: 1px solid #fff ;
		}
	}
	&__count{
		color: #ffffff;
		font-family: Montserrat;
		font-size: 72px;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		
		text-transform: uppercase;
	}
	&__text{
		color: #ffffff;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: center;
		text-transform: uppercase;
	}
}

.services{
	display:flex;
	padding: 50px 0 0 0;
	flex-wrap: wrap;
	justify-content: center;
	&__item{
		width: 20%;
		position: relative;
		padding: 0 25px 30px 68px ;
		margin-bottom: 30px;
		&-border{
			border-bottom: 1px solid #e5e5e5;
		}
		&::before{
			content: "";
			width: 1200px;
			height: 1px;
			background-color: #e5e5e5;
		}
	}
	&__icon{
		position: absolute;
		top: 0;
		left: 20px;
		z-index: 1;
		
	}
	&__tittle{
		color: #333333;
		margin-bottom: 20px;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 600;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: left;
		text-transform: uppercase;
	}
	&__text{
		color: #999999;
		font-family: Montserrat;
		font-size: 15px;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: 24px;
		text-align: left;
	}
}
.devices{
	width: 100%;
	padding: 109px 0 0 0;
	background: url('../img/bg/bg2.png') center (center / cover) no-repeat;
	&__item{
		width: 100%;
		max-width: 600px;
		margin : 0 auto;
		position: relative;

	}
	&__ipad{
		display: block;
		max-width: 100%;
		height: auto;

	}
	&__iphone{
		position: absolute;
		bottom: -101px;
		right: 0;
		z-index: 1;
		max-width: 100%;
		height: auto;

	}

}

.section--do{
	padding: 112px 0 0 0;
}

.do{
	padding: 92px 0 120px 0;
	display: flex;
	flex-wrap: wrap;
	&__item{
		width: 50%;
	}
	&__photo{
		max-width: 100%;
		height: auto;
	}
}
.accordion{
	&__item{
		border: 1px solid #e5e5e5;
		&.active .accordion__content {
			display: block;
		}
		&.active .accordion__header{
			border-bottom: 1px solid #e5e5e5; 

			&:after{
				transform: translateY(-50%) rotate(-45deg);
			margin-top: 5px;
			}
			

		}
	}
	&__header{
		padding: 15px 20px 15px 60px;
		border-bottom: 1px solid transparent; 
		position: relative;
		&::after{
			content: "";
			display: block;
			width: 22px;
			height: 22px;

			border-top: 2px solid #cccc;
			border-right: 2px solid #cccc;
			position: absolute;
			top: 50%;
			right: 20px;
			z-index: 1;
			transform: translateY(-50%) rotate(135deg);
			cursor: pointer;
		}
		
	}
	&__icon{
		position: absolute;
		top: 50%;
		left: 20px;
		z-index: 1;
		transform: translateY(-50%);
	}
	&__content{
		display: none;
		padding: 20px;
		color: #999999;
		font-style: italic;
		font-size: 15px;
		font-weight: 400;
		letter-spacing: normal;
		line-height: 24px;
		text-align: left;
	}
	&__title{
		color: #333333;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: left;
		text-transform: uppercase;
	}
}


.reviews{
	background-color: #f8f8f8;
	&-no{
		background-color: #ffffff;
	}
	&__grey{
		
		padding: 70px 110px 70px 110px;
		position: relative;
	}
	&__item{
		padding-left: 205px;
		position: relative;
	}
	&__photo{
		max-width: 100%;
		height: auto;
		&-no{
			border-radius: 50%;
			position: absolute;
			top: 50%;
			right: 85%;
			z-index: 1;
			transform: translateY(-50%);
		}
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		border: 3px solid #95e1d3;
		padding: 45px;
	}
	&__text{
		color: #999999;
		font-family: "Montserrat";
		font-size: 24px;
		font-weight: 300;
		font-style: italic;
		letter-spacing: normal;
		line-height: 36px;
		text-align: left;
		margin-bottom: 23px;
	}
	&__author{
		color: #333333;
		font-family: "Kaushan Script";
		font-size: 24px;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: left;
		&::before{
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 60px;
			height: 3px;
			background-color: #f38181;
		}
	}
	&__btn{
		font-size: 0;
		color: transparent ;
		
		position: absolute;
		top: 50%;
		z-index: 1;
		transform: translateY(-50%);
		&-prew{
			left: 0;
			transform:  rotate(-45deg);
		}
		&-next{
			right: 0;
			transform:  rotate(135deg);
		}
		
		&::after{
			content: "";
			display: block;
			width: 22px;
			height: 22px;

			border-top: 2px solid #cccc;
			border-left: 2px solid #cccc;
			
			cursor: pointer;
		}
		
	}

	
}

.card{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin: 80px -7px 0;
	&__item{
		width: 33.333%;
		max-width: 380px;
		padding: 0 15px;
		&:hover .card__img img{
			opacity: .1;
		}
		&:hover .card__img{
			transform: translate3d(-10px, -10px, 0)

		}
		&:hover .card__decr {
			opacity: 1;
		}
	}
	&__inner{
		background-color:  #95e1d3;
		position: relative;
	}
	&__img{
		background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
		transition: transform .2s linear;
		& img{
			transition: opacity .1s linear;
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	&__decr{
		width: 100%;
		color: #ffffff;
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: center;
		text-transform: uppercase;
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 2;
		transform: translate3d(0, -50%, 0);
		opacity: 0;
		transition: opacity .2s linear;
		
		
	}
	&__info{
		margin-top: 31px;
	}
	&__name{
		color: #333333;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 600;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: center;
		text-transform: uppercase;
	}
	&__prof{
		color: #999999;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 400;
		font-style: italic;
		letter-spacing: normal;
		line-height: 24px;
		text-align: center;
		margin-top: 15px;

	}
}
.social{
	display: flex;
	justify-content: center;
	&__item{
		width: 56px;
		height: 56px;
		padding: 12px 10px;
		background-color: #fce38a;
		border-right: 1px solid #f38181;
		text-decoration: none;
		font-size: 30px;
		color: #f38181;
		line-height: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background .1s linear, color .1s linear ;
		&:hover{
			background-color: #f38181;
			color: #fff;
		}
		&:last-child{
			border-right: 0px;
		}
	}
}
.rectangle{

	background-color: #f8f8f8;
	&__item{
		padding: 50px 0px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__icon{
		& img{
			max-width: 100%;
			height: auto;
			cursor: pointer;
		}
	}
}
.work{
	display: flex;
	&__col{
		flex: 1 1 0;
	}
	&__item{
		position: relative;
		background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
		&:hover .work__img{
			opacity: .1;
		}
		&:hover .work__info{
			opacity: 1;
		}
	}
	&__info{
		padding: 0 15px;
		text-align: center;
		color: white;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate3d(0, -50%, 0);
		z-index: 1;
		opacity: 0;
		transition: opacity .2s linear;
	}
	&__img{
		display: block;
		transition: opasity .1s linear;
		max-width: 100%;
		height: auto;
	}
	&__title{
		margin: 20px 0;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: center;
		text-transform: uppercase;
	}
	&__text{
		font-family: Montserrat;
		font-size: 13px;
		font-weight: 400;
		font-style: italic;
		letter-spacing: normal;
		line-height: 24px;
		text-align: center;
	}

}
.clients{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&__item{
		width: 27%;
		padding: 100px 45px 0 175px;
		position: relative;
		margin-bottom: 60px;
	}
	&__img{
		border-radius: 50%;
		position: absolute;
		top: 30%;
		left: 40px;
		z-index: 1;
	}
	&__name{
		color: #333333;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 600;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: left;
		text-transform: uppercase;
	}
	&__prof{
		font-size: 15px;
		font-weight: 400;
		font-style: italic;
		letter-spacing: normal;
		line-height: 24px;
		text-align: left;
		margin-top: 15px;
		&::after{
			content: "";
			display: block;
			width: 60px;
			height: 3px;
			background-color: #f38181;
			margin: 17px 0 24px 0;
		}
		&__text{
			color: #999999;
			font-size: 14px;
			font-weight: 400;
			font-style: normal;
			letter-spacing: normal;
			text-align: left;

		}
	}
}
.stories{
	display: flex;
	justify-content: space-around;
	&__item{
		width: 30%;
		padding: 0 30px 100px 0;
		&:last-child{
			padding-right: 0;
		}
		

	}
	&__header{
		position: relative;
		margin-bottom: 20px;
	}
	&__photo{
		display: block;
		width: 100%;
		height: auto;
	}
	&__date{
		position: absolute;
		bottom: 10px;
		left: -10px;
		width: 60px;
		height: 70px;
		background-color: #95e1d3;
		color: #ffffff;
		text-align: center;

	}
	&__day{
		font-family: Montserrat;
		font-size: 30px;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-transform: uppercase;
	}
	&__month{
		font-size: 15px;
		font-weight: 400;
		font-style: italic;
		letter-spacing: normal;
		line-height: normal;
		text-align: center;
	}
	&__content{
		margin-bottom: 20px;
		
	}
	&__title{
		margin-bottom: 20px;
		& a{
			color: #333333;
			font-family: Montserrat;
			font-size: 14px;
			font-weight: 550;
			font-style: normal;
			letter-spacing: normal;
			line-height: normal;
			text-align: left;
			text-transform: uppercase;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
				color: #ecb086;
			}
		}
	}
	&__text{
		color: #999999;
		font-family: Roboto;
		font-size: 15px;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: 24px;
		text-align: left;
	}
	&__footer{
		border-top: 1px solid #e5e5e5;
		padding-top: 20px;
		& span{
			display: inline-block;
			vertical-align: top;
		}
	}
	&__count{
		color: #999999;
		font-size: 15px;
		font-weight: 400;
		font-style: italic;
		letter-spacing: normal;
		line-height: 24px;
		text-align: left;
		margin-right: 20px;
	}
	&__icon{
		color: #95e1d3;
	}

}
.map{
	&__pin {
		text-decoration: none;
		color: #f38181;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&:hover{
			text-decoration: underline;
		}
		&:after{

			content: "";
			display: block;
			width: 60px;
			height: 3px;
			background-color: #f38181;
			
		}
		
	}

	&__text{
		font-family: Montserrat;
		font-size: 24px;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: center;
		text-transform: uppercase;
		margin: 20px auto;
	}
}
.footer{
	background-color: #f8f8f8;
	padding: 74px 0 0 0 ;
	
	&__inner{
		
		padding-bottom: 65px;
		border-bottom: 1px solid #e5e5e5;
		display: flex;
		justify-content: space-between;
	}
	&__col{
		width: 40%;
		&-2{
			width: 30%;
		}
		&-3{
			width: 25%;
		}
	}
	&__logo{
		color: #cccccc;
		font-family: Montserrat;
		font-size: 46px;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: left;
	}
	&__text{
		color: #999999;
		font-size: 15px;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: 24px;
		text-align: left;
	}
	&__count{
		margin-top: 50px;
		color: #333333;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: left;
		&:after{
			content: "";
			display: block;
			height: 1px;
			background-color: #e5e5e5;
			margin: 18px 0;
		}
		& span{
			font-size: 18px;
			font-weight: 700;
		}
	}
	&__follow{
		display: flex;
		justify-content: flex-start;
	}
	&__icon{
		font-size: 15px;
		color: #95e1d3;
		margin: 0 7.5px;
		
	}
	&__descr{
		color: #999999;
		font-weight: 400;
		font-style: italic;
		letter-spacing: normal;
		line-height: 24px;
		text-align: left;
	}


	&__blogs{
		width: 100%;
		height: auto;
		
	}
	&__item{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	&__title{
		color: #333333;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 600;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: left;
		text-transform: uppercase;
		margin-bottom: 40px;
	}
	&__about{
		color: #333333;
		font-family: Montserrat;
		font-size: 12px;
		font-weight: 600;
		font-style: normal;
		letter-spacing: normal;
		text-align: left;
		text-transform: uppercase;
	}
	&__a{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	&__link{
		margin: 20px 0 7px 20px;
	}

	&__data{
		color: #999999;
		font-size: 13px;
		font-weight: 400;
		font-style: italic;
		letter-spacing: normal;
		text-align: left;
	}


	&__photos{
		width: 100%;
		height: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: start;
		margin-bottom: 20px;
		& img{
			margin: 1px ;
		}
		

	}
	&__view{
		text-decoration: none;
		color: #333333;
		font-size: 13px;
		font-weight: 400;
		font-style: italic;
		text-align: left;
		letter-spacing: normal;
		line-height: normal;
		&:hover{
			text-decoration: underline;
		}
	}

}












.subscribe{
	width: 100%;
	max-width: 380px;
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	&__input{
		border: 1px solid #e7e7e7;
		background-color: #ffffff;
		font-size: 15px;
		font-weight: 300;
		font-style: italic;
		color: #cccccc;
		padding: 15px;
		font-family: 'Montserrat', sans-serif;
	}
	&__btn{
		padding: 15px 34px;
		background-color: #95e1d3;
		color: #ffffff;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-align: center;
		text-transform: uppercase;
	}

	

}
.copyright{
	padding: 22px 0;
	color: #333333;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;
	& span{
		color: #f38181;
	}
}

@import "media";